body {
    background-color: black;
}
.ab {
    color: white;
    text-align: center;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;

}
.sometext {
    color: white;
    text-align: center;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}
.sometext p {
    margin: 0;
}